<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Classical Meme Maker</h1>
    <p class="lead text-muted">
      Turn classic works of art into memes!
    </p>
  </div>
</section>

<section>
  <h4>Major Thanks</h4>

  <div class="list-group">
    <a href="https://metmuseum.github.io/"
       class="list-group-item list-group-item-action">
      <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
      The Metropolitan Museum of Art Collection API
    </a>
  </div>
</section>
