<div *ngIf="(artwork$ | async) as artwork; else loader"
     class="row">
  <div class="col-12 col-lg-6">
    <!-- Editor -->
    <app-editor [artwork]="artwork"></app-editor>
  </div>

  <div class="col-12 col-lg-6" id="info-col">
    <!-- Info -->
    <app-art-info [artwork]="artwork"></app-art-info>
  </div>
</div>

<ng-template #loader>
  <div class="row" id="loading-row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
