<div class="btn-toolbar"
     role="toolbar"
     aria-label="Toolbar with button groups">
  <div class="btn-group mr-2"
       role="group">
    <button type="button"
            class="btn btn-secondary"
            (click)="handleAddText()">
      <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    </button>
  </div>
  <div *ngIf="showTextOptions"
       class="btn-group mr-2"
       role="group">
    <button type="button"
            class="btn btn-secondary"
            (click)="handleTextBold()">
      <fa-icon [icon]="['fas', 'bold']"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="handleTextItalic()">
      <fa-icon [icon]="['fas', 'italic']"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="handleTextSizeUp()">
      <fa-icon [icon]="['fas', 'sort-alpha-up']"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="handleTextSizeDown()">
      <fa-icon [icon]="['fas', 'sort-alpha-down']"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="handleTextDelete()">
      <fa-icon [icon]="['fas', 'eraser']"></fa-icon>
    </button>
  </div>
  <div class="btn-group ml-auto" role="group">
    <button type="button"
            class="btn btn-secondary"
            (click)="handleSave()">
      <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
      <span>
        Save
      </span>
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="handleCopy()">
      <fa-icon [icon]="['fas', 'copy']"></fa-icon>
      <span>
        Copy
      </span>
    </button>
  </div>
</div>
