<div class="btn-toolbar"
     role="toolbar"
     aria-label="Toolbar with button groups">
  <div class="btn-group mr-2"
       role="group">
    <button type="button"
            class="btn btn-secondary"
            (click)="handleAddText()">
      <fa-icon [icon]="['fas', 'quote-left']"></fa-icon>
    </button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary">
      <fa-icon [icon]="['fas', 'bold']"></fa-icon>
    </button>
    <button type="button" class="btn btn-secondary">
      <fa-icon [icon]="['fas', 'italic']"></fa-icon>
    </button>
    <button type="button" class="btn btn-secondary">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>
  </div>
  <div class="btn-group ml-auto" role="group">
    <button type="button" class="btn btn-secondary">
      <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
      <span>
        Save
      </span>
    </button>
    <button type="button" class="btn btn-secondary">
      <fa-icon [icon]="['fas', 'copy']"></fa-icon>
      <span>
        Copy
      </span>
    </button>
  </div>
</div>
